@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/card.css");
@import url("components/icon.css");
@import url("components/texte.css");
@import url("components/logo.css");
@import url("components/containert.css");
@import url("components/logo-t.css");
@import url("components/button-home.css");
@import url("components/banner.css");
@import url("components/topnav.css");
@import url("components/box.css");
@import url("components/sous-titre.css");



body {
	font-family: 'Poppins', sans-serif;
	font-size: 18px; 
	text-align: center;
	margin: 0px;
}
h1, h2, h3 {
	font-family: 'Oxygen', sans-serif;
	font-weight: bold;
	position: center;
}

h4 {
	font-family: 'Oxygen', sans-serif;
	text-align: center;
	font-size: 23px;
	font-style: italic;
	margin-right: 465px;
}
a {
	text-decoration: none;
}
.picshome {
	margin: 30px;
	border-radius: 10px;
	width: 360px;
}

.card-help{
	background-color: #F8F859;
	padding: 60px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.5);
	border-radius: 10px; 
	margin: 50px 0px;
	text-align: center;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline i {
	font-size: 50px; 
	color: rgb(230, 230, 230);
}

.list-inline i:hover {
	color: #d7385e;
}
