@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url("components/containert.css");
@import url("components/logo-t.css");
@import url("components/button-home.css");
@import url("components/banner.css");
@import url("components/topnav.css");
@import url("components/box.css");
@import url("components/sous-titre.css");




body {
	font-family: 'Poppins', sans-serif;
	font-size: 18px; 
}
h1, h2, h3 {
	font-family: 'Oxygen', sans-serif;
	font-weight: bold;
}



a {
	text-decoration: none;
}

.picshome {
	margin: 30px;
	border-radius: 10px;
}

.card-help{
	background-color: #F8F859;
	padding: 60px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.5);
	border-radius: 10px; 
	margin: 50px 0px;
	text-align: center;
}