.btn-blue {
	background-color: black; 
	padding: 15px 20px;
	border-radius: 10px; 
	color: white;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
}

.btn-blue2 {
	background-color: black; 
	padding: 15px 20px;
	border-radius: 10px; 
	color: white;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
	

}

.btn-blue3 { 
	background-color: black; 
	padding: 15px 20px;
	border-radius: 10px; 
	color: white;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;

 }

 .btn {
 	background-color: black; 
	padding: 15px 20px;
	border-radius: 10px; 
	color: white;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	padding-left: 7px;
	padding-right: 7px;
}
