.cardnearme {
 display: flex;
 margin-top: 100px;
 margin-left: 250px;
 margin-right: 800px;
 align-items: center;
 justify-content: space-around;
 }

.card {
	padding: 50px;
	display: flex;
 	align-items: center;
 	justify-content: space-around;
}

.card-text-left {
	float: left;
  width: 400px;


}

.card-pictures-right{
	margin-left: 60%;
	justify-content: space-between;
}



#card-menu-profiles {
	display: flex;

}
 
.cards {
	display: flex;
	flex-wrap: wrap;
}

.card-logo { 
	padding-left: 20px; 
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-radius: 6px; 
	margin: 10px;
	flex-basis: 250px;
	flex-grow: 1; 
	margin-top: 70px;
	margin-bottom: 70px;
}

.card h3 {
	flex-grow: 1;
	padding-left: 20px;
	font-size:18px;
}

.avatar {
	width: 60px;
	height: 60px;
	border-radius: 50%; 
}

.cards-events {
	display: flex;
	flex-wrap: wrap;
}

.card-events {
	padding-left: 20px; 
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-radius: 6px;
	margin-left: 10px;
	margin: 10px;
	flex-basis: 250px; 
	flex-grow: 1; 
}
